.list_preshow_click .file_category {
  background: none;
  color: rgb(159, 162, 166);
  opacity: inherit;
}
.list_preshow_click .file_category.red {
  color: rgb(245, 22, 22);
}
.list_preshow_click .file_category.green {
  color: rgb(113, 232, 131);
}
.content_list_button:first-child {
  margin-right: 20px;
}
.content_list_button:last-child {
  margin-left: 20px;
}
#preshow_list_container{
  width: 100%;
}
#preshow_list {
  width: 100%;
  height: fit-content;
  background-color: none;
}
#preshow_list_scrollbar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 7px 10px 7px 10px;
  border: 2px solid rgb(90, 189, 246);
  border-radius: 8px;
  width: fit-content;
  font-weight: 550;
  font-size: 12px;
  color: rgb(90, 189, 246);
  background-color: white;
}